.learnrun_header_logo{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_header_botton{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_footer_botton{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_footer_logo{
    font-family: 'Yeon Sung', cursive;
}

.mw-500{
    max-width : 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}

.round-botton{
    color: deepskyblue;
    text-decoration: none;
    box-shadow: 1px 1px 3px black;
    border-radius: 20rem;
    padding: 0.2rem;
}

.round-botton:hover{
    color: skyblue;
}

.article_content{
    font-size: 1.1rem;
    text-align: left;
}

.article_image{
    border-radius: 2rem;
    width: 65%;
    box-shadow: 0 0 1rem black;
}

.comment_box {
    text-align: left;
    border: solid;
    border-color: #dcdcdc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}