.learnrun_header_logo{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_header_botton{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_footer_botton{
    font-family: 'Yeon Sung', cursive;
}

.learnrun_footer_logo{
    font-family: 'Yeon Sung', cursive;
}

.mw-500{
    max-width : 500px;
    padding: 1rem 1.5rem;
}