<div style = 'text-align: center'>

    <div class = "learnrun_header_logo">
        <h1>
            <a href="{% url 'home'%}">
                LearnRun
            </a>
        </h1>
    </div>
    <div class = "learnrun_header_botton">
        <span class="mx-3">
            <a href="{% url 'articleapp:list' %}">
                게시글
            </a>
        </span>
        <span class="mx-3">
            <a href="{% url 'projectapp:list' %}">
                게시판
            </a>
        </span>
        {% if user.is_authenticated %}
        <span class="mx-3">
            <a href="{% url 'subscribeapp:list' %}">
                구독
            </a>
        </span>
        {% endif %}
        {% if not user.is_authenticated %}
        <span class="mx-3">
            <a href="{% url 'accountapp:login' %}">
                로그인
            </a>
        </span>
        <span class="mx-3">
            <a href="{% url 'accountapp:create' %}">
                회원가입
            </a>
        </span>
        {% else %}
        <span class="mx-3">
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            마이페이지
        </a>
        </span>
        <span class="mx-3">
            <a href="{% url 'accountapp:logout' %}">
                로그아웃
            </a>
        </span>
        {% endif %}
    </div>
</div>